<web-app>
	<servlet>
		<servlet-name>BeerParamTests</servlet-name>
		<servlet-class>com.example.web.TestInitParams</servlet-class>
	

		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>rishavkumar446@gmail.com</param-value>
		</init-param>

		<init-param>
			<param-name>mainEmail</param-name>
			<param-value>rishav.kumar@galgotiasuniversity.edu.in</param-value>
		</init-param>

	</servlet>

	<servlet-mapping>
		<servlet-name>BeerParamTests</servlet-name>
		<url-pattern>/Tester.do</url-pattern>
	</servlet-mapping>
</web-app>